
#texte {
top:525px;
left:-150px;
border:0px;
visibility:visible;
position:absolute;
}

#texte3{
top: 425px;
left: 500px;
border: 0px;
visibility:visible;
position:absolute;
}

#texte2{
 top:310px;
 left:-375px;
 border:0px;
 visibility:visible;
 position:absolute;
}

#texte3{
top: 270px;
left: 200px;
border: 0px;
visibility:visible;
position:absolute;
}

#texte4{
top: 430px;
left: 500px;
border: 0px;
visibility:visible;
position:absolute;
}

#texte5{
top: 270px;
left: 200px;
border: 0px;
visibility:visible;
position:absolute;
}

#CarteJoueur1{
 top:500px;
 left:650px;
 width:20px;
 border:0px;
 visibility:visible;
 position:absolute;
}

#CarteJoueur2{
 top:500px;
 left:700px;
 width:20px;
 border:0px;
 visibility:visible;
 position:absolute;
}

#CarteJoueur3{
 top:350px;
 left:325px;
 width:20px;
 border:0px;
 visibility:visible;
 position:absolute;
}

#CarteJoueur4{
 top:400px;
 left:325px;
 width:20px;
 border:0px;
 visibility:visible;
 position:absolute;
}






