

<div class="naav">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="">

                    <a class="lien_accueil" href="">Comment jouez ?</a>
                    <a class="lien_accueil" href="">Programme fidélité</a>
                    <a class="lien_accueil" href="">Notre offre</a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="center pub_texte">
                    <a class="lien_accueil" href="">Se connecter</a><br>
                    <a class="lien_accueil" href="">S'inscrire</a>
                </div>
            </div>





        </div>
    </div>
</div>
</div>
</div>